<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <title>Ricing times</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500'
          rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <style type="text/css">
        .rd3-linechart-yaxis > text,
        .rd3-linechart-xaxis > text {
            font-size: 12px;
        }

        .rd3-legend {
            font-size: 12px;
        }
    </style>
</head>
<body>

<div class="plotter-app" id="root" ></div>
<script id="initial-payload" type="application/json">
    { "version": "{{ version }}" }
</script>
<script src="/static/bundle.js"></script>
</body>
</html>
